@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to "FizzBuzz".</h1>
    <div class="col d-flex align-content-center">
        <img src="~/img/MVC_FizzBuzz.svg" alt="FizzBuzz Logo" class="img-fluid center-block d-block mx-auto pb-2">
    </div>
    <h4 class="lead">An ASP.NET Core MVC coding exercise.</h4>
    <h4 class="lead">A program to solve and present the question... "Is it divisible by 3, 5 or both?"</h4>
</div>
